@import 'colors';

html {
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
    word-wrap: break-word;
    text-overflow: ellipsis;
    line-heigt: 1.5;
}

*, *:before, *:after {
    box-sizing: inherit;
    word-wrap: inherit;
    text-overflow: inherit;
}

body {
    padding: 0;
    margin: 0;
}

a {
    color: inherit;
}

h1, h2, h3 {
    text-transform: uppercase;
}

article h2 {
    text-transform: none;
}

.layout-container {
    * {
        // margin: 0 1rem;
    }
}

header[role=banner] {
    color: white;
    padding: 1em 2em;
    background-color: $black;

    .region-header {
        font-size: 40px;
        font-weight: 700;
        // This creates a new context so the links in the secondary menu are clickable. Don't ask.
        overflow: hidden;

        .site-name {
            display: inline;
        }

        a {
            text-decoration: none;
        }
    }

    .region-secondary-menu {
        float: right;
    }
}

.region-primary-menu {
    background-color: $black;
    color: white;
    padding: 0 2em;

    ul {
        // Pesky margins
        margin: 0;
        list-style: none;

        li {
            display: inline-block;
            margin-right: 1em;

            a {
                display: inline-block;
                padding: 1em;
                background-color: rgba(255, 255, 255, 0.1);
                color: white;
            }

            a.is-active, a:hover {
                background-color: white;
                color: $black;
            }
        }
    }
}

// USELESS THINGS
.region-breadcrumb, .feed-icons {
    display: none;
}

main {
    overflow: auto;
    clear: both;
    padding: 2em;

    .layout-content {
        max-width: calc(74vw - 6em);
        margin-left: 1vw;
        padding: 1em;
        float: left;
    }

    aside {
        background-color: $green;
        color: white;
        padding: 1em;
        max-width: 25vw;
        float: left;
    }
}

input, textarea, select {
    background-color: white;
    color: $black;
    border-style: none;
    border-radius: 7px;
    padding: 0.4em 1em;
}

form {
    background-color: $green;
    padding: 1em;
}

.button {
    background-color: $yellow;
    color: $black;
    font-weight: 700;
    text-transform: uppercase;
    margin: 5px;
}

.button:hover {
    background-color: white;
}

ul.links.inline {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
        padding-right: 0.5em;
        display: inline;
    }
}

.filter-wrapper {
    border-style: none;
}

.comment {
    background-color: $black;
    color: white;
    padding: 1em;
    max-width: 675px;
}

mark {
    background-color: $red;
    color: white;
    padding: 0.25em 0.5em;
    font-weight: 700;
    box-shadow: $standard-shadow;
}

p {
   max-width: 775px;
}
